.btn:hover {
  cursor: pointer;
}

.btn:hover:disabled, .btn:disabled {
  cursor: default;
}

.garage-door, .garage {
  width: 80vw;
  height: 80vh;
  margin: 20px auto;
}

.garage {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  position: relative;
}

.add-item-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(200,200,200,1);
  position: absolute;
  bottom: 0;
  height: 8vh;
}

.garage-door-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.garage-stats {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: rgba(200,200,200, 1);
}

.number-by-type-title {
  display: flex;
  flex-direction: column;
}

.item-list-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin-top: 10px;
  width: 80%;
}

.item-display-header {
  display: flex;
  flex-direction: row;
}

.item-list {
  width: 100%;
  overflow: scroll;
}

.item {
  width: 60%;
  text-align: center;
  border: 1px solid red;
  padding: 5px;
  border-radius: 5px;
  margin: 2px auto;
}

.item:hover {
  cursor: pointer;
  background-color: lightgreen;
}

.modal {
  position: absolute;
  width: 450px;
  height: 300px;
  z-index: 10;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 25%;
  left: 0;
  background-color: #FFF;
  box-shadow: 3px 3px 15px 2px rgba(173,170,173,1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal label, .modal-btns {
  display: flex;
  flex-direction: row;
}

.close-modal-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: gray;
  border-radius: 50%;
  padding: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-modal-btn:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.modal-name:hover, .modal-purpose:hover {
  cursor: text;
}

.purpose-input {
  width: 300px;
}

.modal-btns {
  width: 50%;
  justify-content: space-around;
}
