body {
  background-image: url('bricks.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Mukta Vaani', sans-serif;
  font-weight: 300;
  color: #333333;
}

label {
  padding: 1.5px;
}

.btn {
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 0px 10px;
  font-size: 13px;
  outline: none;
  background-color: #f6eb59;
}

.btn:hover {
  cursor: pointer;
  background-color: #ffbd69;
  color: #333;

}

.btn:disabled:hover, .btn:disabled {
  background-color: inherit;
  cursor: default;
  color: #333;
}

input {
  height: 25px;
  border: none;
  font-size: 14px;
  padding: 2.5px;
  font-weight: lighter;
  outline: none;
}

.garage-door, .garage {
  width: 80vw;
  height: 80vh;
  margin: 20px auto;
}

.garage {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  position: relative;
}

.add-item-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(200,200,200,1);
  position: absolute;
  bottom: 0;
  height: 8vh;
}

.add-item-form {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.add-item-form label {
  display: flex;
  align-items: center;
}

.garage-door-controls {
  width: 10vw;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: auto;
}

.garage-stats {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  background-color: rgba(200,200,200, 1);
  height: 12vh;
  padding: 10px 0px;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.number-by-type-title {
  display: flex;
  flex-direction: column;
}

.item-list-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin-top: 10px;
  width: 80%;
}

.item-display-header {
  display: flex;
  flex-direction: row;
  width: 51%;
  background-color: #ffbd69;
  padding: 5px;
  justify-content: center;;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

.item-display-header h2 {
  font-size: 26px;
  font-weight: 400;
}

.sort-items-btn {
  position: absolute;
  right: 5px;
  background-color: #ffbd69;
  color: #333;
}

.sort-items-btn:hover {
  background-color: #f6eb59;
  color: #333;
}

.item-list {
  width: 100%;
  overflow: scroll;
}

.item {
  width: 50%;
  text-align: center;
  border: 1px solid #ffbd69;
  padding: 8px;
  border-radius: 5px;
  margin: 5px auto;
  background-color: #f4f4f4;
}

.item:hover {
  cursor: pointer;
  transition-duration: .5s ease-in-out;
  transform: scale(1.05);
  background-color: #ffbd69;
}

.modal {
  position: absolute;
  width: 450px;
  height: 300px;
  z-index: 10;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 25%;
  left: 0;
  background-color: #FFF;
  box-shadow: 3px 3px 10px 2px rgba(173,170,173,.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal-label {
  margin-right: 5px;
  font-weight: 500;
}

.modal label, .modal-btns {
  display: flex;
  flex-direction: row;
}

.close-modal-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #f6eb59;
  border-radius: 50%;
  padding: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
}

.close-modal-btn:hover {
  cursor: pointer;
  background-color: #ffbd69;
}

.hidden {
  display: none;
}

.modal-name:hover, .modal-purpose:hover {
  cursor: text;
}

.purpose-input {
  width: 50%;
}

.modal-btns {
  width: 50%;
  justify-content: space-around;
}

.total-items {
  text-align: center;
}

.number-by-type-title label {
  text-align: center;
}

.garage-door {
  position: absolute;
  background-image: url('garage-door.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
  margin: auto;
  left: 0px;
  right: 0px;
  top: 20px;
  margin-top; -20px;
  width: 82vw;
  height: 82vh;
}

.slideUp{
	animation-name: slideUp;
	animation-duration: 6s;
	animation-timing-function: ease-in-out;
	visibility: visible !important;
  animation-fill-mode:forwards;
}

@keyframes slideUp {
  100% {
    transform: translateY(-100%)
  }
}

.slideDown {
  animation-name: slideDown;
  animation-duration: 6s;
	animation-timing-function: ease-in-out;
	visibility: visible !important;
  animation-fill-mode:forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%)
  }
}
